

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-4"></div>


      <div class="col-md-4">

         <!----->
       <main class="form-signin">
        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <h1> Student Login</h1>
            <div class="form-floating">
                <input type="text" 
                  class="form-control" 
                  name="username"
                  [(ngModel)]="model.username"
                  id="floatingPassword" 
                  placeholder="Name">


                <label for="floatingPassword">User Name</label>
              </div>

          <div class="form-floating">
            <input type="email" 
              class="form-control" 
              name="email"
              [(ngModel)]="model.email"
              id="floatingInput" 
              placeholder="name@example.com">

            <label for="floatingInput">Email address</label>
          </div>
         

          <button class="w-100 btn btn-lg btn-primary" type="submit">Login in</button>
        
        </form>
      </main>
    
         
      </div>
     
      <div class="col-md-4">
      
 
      </div>
    </div>
   
